<div class=row>
  <div class="col pb-3">
    An email has been sent to
    <strong>{{encodedEmail}}</strong>. If you do not receive your email, please check your junk mail before requesting the instructions
    be resent.
  </div>
</div>
<div class=row style="padding-top: 0.5rem; padding-bottom: 1rem;">
  <div class=col-8>
    <a href="javascript:void(0)" (click)="onResendEmail()">Resend Email</a>&nbsp;&nbsp;&nbsp;
    <a href="javascript:void(0)" (click)="onLogin()">Back to Sign In</a>
  </div>
</div>