$borderPrimary : black;
$navPrimary : #f7901c;
$navLight : #fabc76;
$dropdownBorder : #eceeef;
$textMuted : #797979;
$headerPrimary: #005BBB;
$linkColor: #80398C;
$linkHoverColor: #005BBB;
$errorColor: #cc0000;
$shYellow: #f7901c;
$shBlue: #005BBB;
$shGray: #f3f3f3;
$shFontFamily: sans-serif;
$shFontSizeLg : 16px;
$shFontSizeMd : 14px;
$shFontSizeSm : 13px;
$shFontSizeExtraSm: 12px;
$shFontSizePgHdr: 24px;
$btnPrimBgColor: #333333;
$btnPrimTxtColor: #ffffff;
$btnPrimHoverBgColor: #000000;
$btnPrimDisabledBgColor: #cccccc;
$btnPrimDisabledTxtColor: #ffffff;
$tableHeaderBgColor:#f2f2f2;
$tableBorderColor:#797979;
$yellow: #FDB913;
$green: #009661;
$darkGreen: #007f00;
$paleGreen: #e5ffe5;
$paleRed: #ffe5e5;
$purple: #80398C;
$grey: #8E908F;
$lightgrey: #CCCCCC;
$vlightgrey: #EEEEEE;
$offwhite: #f9f9f9;
$black: #000000;
$slate: #333333;
$white: #FFFFFF;
$red: #C60F13;
$cancelled : #ff6666;
$onhold : #CABFD6;
$submitted : #FFFF99;
$preproduction : #FF9933;
$production : #B3D9FF;
$shipped : #99FF99;
$received : #00CC00;


