<div class=row>
  <div class="col">
      <h4>Free Stock</h4>
  </div>
</div>
<div class=row>
  <div class=col>
      <mat-tab-group dynamicHeight="true">
          <mat-tab label="Drug">
              <app-drug-tab></app-drug-tab>
          </mat-tab>
          <mat-tab label="Patient">
              <app-patient-tab></app-patient-tab>
          </mat-tab>
          <mat-tab label="Trial">
              <app-trial-tab></app-trial-tab>
          </mat-tab>
      </mat-tab-group>
  </div>
</div>
