<div class=row style="padding-top:2rem">
    <div class="col-md-4 rounded mx-auto light-box">
        <div class=row>
            <div class="col">
                <h4>Forgot Password</h4>
                <alert></alert>
            </div>
        </div>
        <app-forgot-password-edit (token-generated)="confirmForgotPassword($event)" *ngIf="editForgotPassword"></app-forgot-password-edit>
        <app-forgot-password-confirm *ngIf="!editForgotPassword" [email]="email"></app-forgot-password-confirm>
    </div>
</div>