.form-control {
    padding: 0.2em .75rem;
    font-size:13px;
}

.text-med {
    font-size:14px;
}

.text-lg {
    font-size:16px;
}

label {
    font-weight: bold;
}

.btn-block {
    width: 40%;
}

/deep/ .completer-dropdown {
    width: 32% !important;    
}
