<div class=row>
    <div class=col>
        <form id="pwdForm" name="pwdForm" class="form-group" [formGroup]="pwdForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <div class=row>
                    <div class="col pb-3">
                        <alert></alert>
                        Please enter the new password and use the following password criteria to set a password.
                        <ol>
                            <li>Password should be at least 8 characters long</li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <div class=form-field>
                            <label for=currentPassword>Current Password:</label>
                            <input type="password" id=currentPassword name=currentPassword formControlName="currentPassword" placeholder="Current Password" 
                                    class="form-control" maxlength="64">
                            <div *ngIf="formErrors.currentPassword" class="help error-block">{{formErrors.currentPassword}}</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 1rem;">
                    <div class="col-3">
                        <div class=form-field>
                            <label for=password>Password:</label>
                            <input type="password" id=password name=password formControlName="password" placeholder="Password" 
                                    class="form-control" maxlength="64">
                            <div *ngIf="formErrors.password" class="help error-block">{{formErrors.password}}</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 1rem;">
                    <div class="col-3">
                        <div class=form-field>
                            <label for=confirmPassword>Confirm Password:</label>
                            <input type="password" id=confirmPassword name=confirmPassword formControlName="confirmPassword" placeholder="Confirm Password" 
                                    class="form-control" maxlength="64">
                            <div *ngIf="formErrors.confirmPassword" class="help error-block">{{formErrors.confirmPassword}}</div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top: 2rem;">
                    <div class="col-5">
                        <a class="btn btn-link" href="javascript:void(0);" [routerLink]="['/home']">Cancel</a>&nbsp;&nbsp;
                        <button class="btn btn-primary" type="submit">Change Password</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>