<div class="row pt-5">
    <div class="col-md-3 mx-auto login-header">
        <h4>Sign in to SHOT</h4>
    </div>
</div>
<div class=row>
    <div class="col-md-3 mx-auto login-banner-content">
        <alert></alert>
        <div class=row>
            <div class=col-12>
                <form name="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" placeholder="Email" name="email" id="email" [formControlName]=USER_NAME/>
                        <div *ngIf="!validateEmail()" class="error-block">
                            <span>{{loginError}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password" maxlength="64" [formControlName]=PASSWORD />
                        <div *ngIf="!validatePassword()" class="error-block">
                            <span>{{passwordError}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="checkbox">
                            <input type="checkbox"id="rememberMe" name="rememberMe" value="true" [formControlName]=REMEMBER_ME> Remember Me
                        </label>
                    </div>
                    <div class="form-group">
                        <button 
                            class="btn btn-primary btn-block"
                            type="submit"
                            [disabled] = "!loginForm.valid">
                            <!--<span class="glyphicon glyphicon-print"></span>-->
                            <img  src="../../../assets/images/lock.png"/>&nbsp;&nbsp;&nbsp;Sign In
                            <i  *ngIf="loading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>                            
                        </button>
                    </div>
                    <div>
                        <a href="javascript:void(0);" (click)="onForgotPassword()">Forgot Password?</a>
                    </div>
                    <br>
                    <div>
                        Not what you are looking for?
                        <a href="http://sladehealth.com.au/">Return to sladehealth.com.au</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
