<div class=row style="padding-top:2rem">
  <div class="col-md-5 rounded mx-auto light-box">
    <div class=row>
      <div class="col">
        <h4>Reset Password</h4>
        <alert></alert>
      </div>
    </div>

    <ng-container *ngIf="!resetSuccess; then formTemplate; else successTemplate"></ng-container>
    <ng-template #formTemplate>
      <form id="pwdForm" name="pwdForm" class="form-group" [formGroup]="pwdForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <div class=row>
            <div class="col pb-3">
              Please enter the new password with the following criteria:
              <ol style="margin-left: -1.5rem;">
                <li>Password should be at least 8 characters long</li>
              </ol>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <div class=form-field>
                <label for=password>New Password:</label>
                <input type="password" id=password name=password formControlName="password" placeholder="Password" class="form-control" maxlength="64">
                <div *ngIf="formErrors.password" class="help error-block">{{formErrors.password}}</div>
              </div>
            </div>
          </div>
          <div class="row" style="padding-top: 1rem;">
            <div class="col-8">
              <div class=form-field>
                <label for=confirmPassword>Confirm New Password:</label>
                <input type="password" id=confirmPassword name=confirmPassword formControlName="confirmPassword" placeholder="Confirm Password"
                  class="form-control" maxlength="64">
                <div *ngIf="formErrors.confirmPassword" class="help error-block">{{formErrors.confirmPassword}}</div>
              </div>
            </div>
          </div>

          <div class="row" style="padding-top: 2rem;">
            <div class="col-5">
              <a class="btn btn-link" href="javascript:void(0);" (click)="onCancel()">Cancel</a>&nbsp;&nbsp;
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </ng-template>

    <ng-template #successTemplate>
      <div class=row>
        <div class="col pb-3">
          Your password has been reset. You must now log into the site using your email and new password.
        </div>
      </div>
      <div class="row" style="padding-top: 2rem;">
        <div class="col-5">
          <a class="btn btn-link" href="javascript:void(0);" (click)="onCancel()">Take me to login</a>&nbsp;&nbsp;
        </div>
      </div>
    </ng-template>

  </div>
</div>