<div class=row>
  <div class="col pb-3">
    Please enter the email address registered with your account and we will send you further instructions on how to reset your
    password.
  </div>
</div>
<div class=row>
  <div class=col-8>
    <form name="form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" placeholder="Email" name="email" id="email" formControlName='email' [(ngModel)]='email'
          [ngClass]="{' ng-touched ng-invalid': !validateEmail()}" />
        <div *ngIf="emailError" class="error-block">
          <span>{{emailError}}</span>
        </div>
      </div>
      <div class="form-group" style="padding-top: 1rem;padding-bottom: 1rem;">
        <a href="javascript:void(0)" (click)="onCancel()">Cancel</a>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" type="submit" [disabled]="!passwordForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>